* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 400;
}

:root, [data-theme='light'] {
  --bg: #fafafa;
  --fg: #6a6a6a;
  --fg-light: #9b9fa6; 
  --border: #6a6a6a;  
  --blue: #118dc3;
  --green: #1da912;
  --orange: #ee9025;
  --purple0: #9a77cf;
  --purple1: #9a77cf;
  --bg-alt: #f6f6f6;
  --red: #e05661;
  --yellow: #eea825;
  --cyan: #56b6c2;
  --gray: #bebebe;

  --white: #fafafa;
  --black: #6a6a6a;
  --highlight: #e2be7d;
  --comment: #9b9fa6;
}

[data-theme='dark'] {
  --bg: #222435;
  --fg: #B4B7CF;
  --fg-light: #7679A7; 
  --border: #B4B7CF;  
  --blue: #25ABE4;
  --green: #75BE78;
  --orange: #EAA041;
  --purple0: #c678dd;
  --purple1: #c678dd;
  --bg-alt: #1c1d2a; 
  --red: #E16765;
  --yellow: #EAE852;
  --cyan: #46A3AF;
  --gray: #585B89;

  --white: #B4B7CF;
  --black: #222435;
  --highlight: #e2be7d;
  --comment: #7679A7;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--fg);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

p {
  margin-bottom: 1.2rem;
}

strong {
  font-weight: 600;
}

h1, h2, h3 {
  text-transform: uppercase;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

a {
  color: var(--purple0)
}

a:visited{
  color: var(--purple1)
}
