* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --bg: #ffffff;
  --bg-alt: #f0f0f0;
  --fg: #000000;
  --fg-light: #555555;
  --border: #000000;

  --blue: #076678;
  --green: #98971a;
  --orange: #af3a03;

  font-family: "JetBrains Mono", monospace;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--fg);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

h1, h2, h3 {
  text-transform: uppercase;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}
