* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  font-family: "JetBrains Mono", monospace;
}

:root, [data-theme='light'] {
  --bg: #ffffff;
  --fg: #000000;
  --fg-light: #555555;
  --border: #000000;
  --blue: #076678;
  --green: #98971a;
  --orange: #af3a03;
  --purple0:#6730d1;
  --purple1: #9471d0;
}

[data-theme='dark'] {
  --bg: #2f2f2f;
  --fg: #ffffff;
  --fg-light: #dddddd;
  --border: #ffffff;
  --blue: #47a8bb;
  --green: #c1bd2a;
  --orange: #de5a23;
  --purple0:#9970ea;
  --purple1: #af9bd4;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--fg);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

h1, h2, h3 {
  text-transform: uppercase;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

a {
  color: var(--purple0)
}

a:visited{
  color: var(--purple1)
}
