---
import MainLayout from '../layouts/MainLayout.astro';
import Error from '../components/Error.astro'
---

<MainLayout title="POV: 404_NOT_FOUND" subtitle="The requested coordinates do not exist.">
  <Error errorTitle="HTTP_STATUS: 404_NOT_FOUND">
    <p>
      The system execution path pointed to a null pointer or an unallocated memory block. 
      Verify the destination URL or return to the root shell execution layer.
    </p>
  </Error>
</MainLayout>
