---
import MainLayout from '../layouts/MainLayout.astro';
import Error from '../components/Error.astro'
---

<MainLayout title="POV: ACCESS_DENIED" subtitle="This sector is currently undergoing maintenance.">
  <Error errorTitle="FATAL_ERROR: RESOURCE_NOT_FOUND" progress={40}>
    <p>
      The 'LIFE' module is currently being refactored. The database entries for day-to-day photos 
      are offline for consistency checks ✖𐃷✖ .
    </p>
  </Error>
</MainLayout>
