---
import { SOCIAL_MEDIA } from "../consts"
import SocialMediaLink from "./SocialMediaLink.astro"
---

<section>
  {
  Object.entries(SOCIAL_MEDIA).map(([name, url]) => (
  <SocialMediaLink name={name} url={url}/>
    ))
  }
</section>

<style>
  section{
    display: flex;
    justify-content: center;
    gap: 2em;

  }
</style>


