---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Divider from '../components/Divider.astro';
import { PAGE_TITLE } from '../consts';

const { title, subtitle } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  })();
  document.documentElement.setAttribute('data-theme', theme);
</script>

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/aru.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <title>{PAGE_TITLE}</title>
  </head>

  <body>
    <div class="site-container">
      <Header title={title} subtitle={subtitle} /> 
      <main>
        <slot />
        <Divider />
      </main>
    </div>
  </body>
  <footer>
    <p>Built with Astro â‹†Ëšê©œï½¡ğ”ŒÕ. .Õğ¦¯â‹†. ğ™š Ëš</p>
  </footer>
</html>

<style>
  html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  body {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    width: 100%;
    height: 100%;
    max-width: 75%;
    margin: 0 2rem;
    margin-left: 3.2em;
  }

  .site-container {
    z-index: 1;
    background-color: var(--bg);
    border: 2px solid var(--border);
    box-shadow: 8px 8px 0px var(--border);
    padding: 2rem;
  }

  footer {
    margin-top: 2rem;
    font-size: 0.75rem;
    text-align: center;
    color: var(--fg-light);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
